ul {
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 45px;
}

sup {
    line-height: 0px;
    vertical-align: super;
}
.title h1 {
    color: #0000ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
    font-family: sans-serif;
    line-height: 28px;
}

section {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

section.primary-block h1 {
    font-size: 35px;
    margin-bottom: 0px;
}

section.secondary-block h1 {
    margin-bottom: 0px;
}

section.secondary-block {
    padding: 5px;
}

section.secondary-block ul{
    display: block;
}

section.secondary-block ul li{
    list-style: disc;
}

.divider {
    border-top: 1px solid #000;
    margin-right: 20px;
  }
  