ul {
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 45px;
}

.title h1 {
    color: #0000ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
    font-family: sans-serif
}

section {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

section.primary-block h1 {
    font-size: 35px;
}

section.secondary-block {
    padding: 5px;
}