a {
    text-decoration: none;
}
.contents ul {
    position: fixed;
    font-family: sans-serif;
    display: flex;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100vw;
    background: white;

}

.contents ul li {
    list-style: none;
    margin-right: 45px;
}

sup {
    line-height: 0px;
    vertical-align: super;
}
.title h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
    font-family: sans-serif;
    line-height: 28px;
}

section {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

section.primary-block h1 {
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 0px;
}

section.secondary-block h1 {
    margin-bottom: 0px;
}

section.secondary-block {
    padding: 5px;
}

section.secondary-block .description ul{
    position: static;
    display: block;
}

section.secondary-block .description ul li{
    list-style: disc;
}

.divider {
    border-top: 1px solid #000;
    margin-right: 20px;
  }

section.secondary-block .images ul {
    margin-left: -40px;
    display: flex;
    font-family: sans-serif;
}

section.secondary-block .images ul li{
    list-style: none;
    margin: 2px;
    
}


  